# Ignore everything
*

# Whitelist patterns anchored to project root
!/.commitlint.yaml
!/.editorconfig
!/.gitattributes
!/.markdownlint.yml
!/.markdownlintignore
!/.pre-commit-config.yaml
!/.taplo.toml
!/.yamllint
!/clippy.toml
!/rust-toolchain.toml
!/rustfmt.toml
!/Taskfile.yml

# Whitelist patterns found anywhere in project
!.gitignore
!*.code-snippets
!*.md
!*.png
!*.rs
!*.sh
!*.svg
!*.ty
!*.yaml
!*.yml
!AGENTS.md
!Cargo.lock
!Cargo.toml
!CODE_OF_CONDUCT.md
!CODEOWNERS
!CONTRIBUTING.md
!COPYRIGHT.md
!dependabot.yml
!DEVELOPMENT.md
!Dockerfile
!extensions.json
!launch.json
!LICENSE
!MAINTAINERS.md
!Makefile
!PULL_REQUEST_TEMPLATE.md
!README.md
!ROADMAP.md
!SECURITY.md
!settings.json
!tasks.json

# Whitelist subdirectories
!/.github/
!/.github/scripts/
!/.github/workflows/
!/.taskfiles/
!/.vscode/
!/crates/
!/crates/**/
!/docs/
!/docs/**/
!/examples/
